<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <h1>Add New Employee</h1>
          <hr>

          <a class="btn btn-primary" href="/all_emp" role="button">View All Employee </a>
          <a class="btn btn-primary" href="/add_emp" role="button">Add New Employee </a>
          <a class="btn btn-primary" href="/remove_emp" role="button">Remove an Employee </a>
          <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employee Details</Details> </a>
           
          <br>
          <br>

          <form action="/add_emp" method="post">
            {% csrf_token %}
              <label for="first_name">First Name</label>
              <input type="text" id="first_name" value="{{first_name}}" name='first_name' >
              <hr>
              <label for="last_name">Last Name</label>
              <input type="text" id="last_name" value="{{last_name}}" name='last_name'>
              <hr>
              <label for="salary">Salary</label>
              <input type="number" id="salary" value="{{salary}}" name='salary'>
              <hr>
              <label for="dept">Department</label>
              <select class="form-select" aria-label="Default select example" name="dept" id="dept">
                <option selected>Select Dept Name</option>
                {% for dp in dept %}
                <option value="{{ dp.id }}" >{{ dp.name }}</option>
                {% endfor %}
              </select>
              <!-- <input type="number" id="dept" value="{{dept}}" name='dept'> -->
              <hr>
              <label for="role">Role</label>
              <select class="form-select" aria-label="Default select example" name="role" id="role">
                <option selected>Select Dept Name</option>
                {% for rl in role %}
                <option value="{{ rl.id }}" >{{ rl.name }}</option>
                {% endfor %}
              </select>
              <!-- <input type="number" id="role" value="{{role}}" name='role'> -->
              <hr>
              <label for="bonus">Bonus</label>
              <input type="number" id="bonus" value="{{bonus}}"name='bonus'>
              <hr>
              <label for="phone">Phone Number</label>
              <input type="number" id="phone" value="{{phone}}" name='phone'>
              <hr>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>


        <br>
        <br>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>


